@keyframes rotateIn {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50%{
    transform: rotate(180deg);
    opacity: .25;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.home-page{
  .text-zone {
    position: absolute;
    align-content: center;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h1{
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-weight: 400;
    cursor: pointer;

    &::before {
      color: #000000;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      color: #FB4F14;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
    img {
      width: 110px;
      opacity: 0;
      height: auto;
      border-radius: 50%;
      border: #FB4F14 5px solid;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #ffffff;
    margin-top: 20px;
    font-weight: 800;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #000000;
    font-size: 15px;
    font-weight: 800;
    background: #ffffff;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid #FB4F14;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;


    &:hover {
      background: #FB4F14;
      color: #333;
    }
  }
}

.compare-button{
  color: #000000;
  font-size: 15px;
  background: #FB4F14;
  font-weight: 800;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 18px;
  border: 2px solid #FB4F14;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
}
.compare-button:hover{
    background: #ffffff;
    color: #333;
}

@media screen and (max-width: 1400px){
  .home-page{
    h1{
      font-size: 39px;
    }
  }
}
@media screen and (max-width: 1000px){

  .home-page{
    h1{
      font-size: 40px;
      justify-content: center;
    }
    .text-zone{
      position: relative;
      width: 100%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
      display: inline-block;
      text-align: left;
      padding-top: 100px;
    }

    .flat-button{
      float: none;
      display: block;
      width: 125px;
    }
  }
}